.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.col-0 {
    display: none;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .tab-0 {
        display: none;
    }

    .tab-1,
    .tab-2,
    .tab-3,
    .tab-4,
    .tab-5,
    .tab-6,
    .tab-7,
    .tab-8,
    .tab-9,
    .tab-10,
    .tab-11,
    .tab-12 {
        display: block;
    }

.tab-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.tab-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.tab-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.tab-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.tab-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.tab-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.tab-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.tab-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.tab-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.tab-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.tab-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.tab-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

/* PC */
@media only screen and (min-width: 1024px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
}

