.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.col-0 {
    display: none;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
}

/* PC */
@media only screen and (min-width: 1024px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
}

