.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
}

/* PC low resolution */
@media only screen and (min-width: 1024px) and (max-width: 1039px) {
    .wide {
        max-width: 984px;
    }
}

@media only screen and (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
}

