/* Mobile + Tablet */
@media only screen and (max-width: 63.9375em) {
    :root {
        --navbar-height: 0px;
        --header-height: 120px;
    }

  .hide-on-mobile-tablet {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }
}
